/* Contêiner principal */
.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Top bar */
.topbar {
    background-color: white;
    width: 100%;
    padding: 10px 20px;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* Logo */
.sidebar-header .logo {
    width: 100%;
    max-width: 150px;
    height: auto;
}

/* Layout principal */
.main-content {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap; /* Quebra os elementos em linhas menores */
}

/* Sidebar */
.sidebar {
    background-color: #4CAF50;
    width: 250px;
    padding-top: 20px;
    flex-shrink: 0;
}

.sidebar-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar-menu li {
    margin: 15px 0;
}

.sidebar-menu li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 12px 15px;
    border-radius: 4px;
}

.sidebar-menu li a:hover {
    background-color: #45a049;
}

/* Content */
.content {
    flex-grow: 1;
    padding: 20px;
    margin: 10px auto;
    background-color: #ffffff;
    border-radius: 8px;
}

/* Footer */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: sticky;
    margin-top: auto;
}

/* Responsividade */
@media (max-width: 768px) {
    .sidebar {
        width: 100%; 
        position: relative;
    }

    .main-content {
        flex-direction: column;
    }

    .content {
        flex-basis: 100%;
    }
}
